.cash {
  text-align: center;

  h2 {
    color: #BEC6CF;
    font-size: 2em;
  }

  .balance {
    display: flex;
    justify-content: center;
    color: #5B62A2;
    h1 {
      font-size: 4em;
    }
  }
}
